/*
 * GLASP REST API
 * GLASP's REST API
 *
 * The version of the OpenAPI document: v1.00
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.SearchResult;
import org.openapitools.client.model.ZipStreetCityRequest;
import org.openapitools.client.model.ZipStreetRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AddressSearchApi {
    private ApiClient localVarApiClient;

    public AddressSearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AddressSearchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for searchZipStreet
     * @param zipStreetRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call searchZipStreetCall(ZipStreetRequest zipStreetRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = zipStreetRequest;

        // create path and map variables
        String localVarPath = "/app/search/zipstreet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "*/*"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call searchZipStreetValidateBeforeCall(ZipStreetRequest zipStreetRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'zipStreetRequest' is set
        if (zipStreetRequest == null) {
            throw new ApiException("Missing the required parameter 'zipStreetRequest' when calling searchZipStreet(Async)");
        }
        

        okhttp3.Call localVarCall = searchZipStreetCall(zipStreetRequest, _callback);
        return localVarCall;

    }

    /**
     * Search request when the zip code and the street are known.
     * 
     * @param zipStreetRequest  (required)
     * @return SearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public SearchResult searchZipStreet(ZipStreetRequest zipStreetRequest) throws ApiException {
        ApiResponse<SearchResult> localVarResp = searchZipStreetWithHttpInfo(zipStreetRequest);
        return localVarResp.getData();
    }

    /**
     * Search request when the zip code and the street are known.
     * 
     * @param zipStreetRequest  (required)
     * @return ApiResponse&lt;SearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchResult> searchZipStreetWithHttpInfo(ZipStreetRequest zipStreetRequest) throws ApiException {
        okhttp3.Call localVarCall = searchZipStreetValidateBeforeCall(zipStreetRequest, null);
        Type localVarReturnType = new TypeToken<SearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Search request when the zip code and the street are known. (asynchronously)
     * 
     * @param zipStreetRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call searchZipStreetAsync(ZipStreetRequest zipStreetRequest, final ApiCallback<SearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = searchZipStreetValidateBeforeCall(zipStreetRequest, _callback);
        Type localVarReturnType = new TypeToken<SearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for searchZipStreetCity
     * @param zipStreetCityRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call searchZipStreetCityCall(ZipStreetCityRequest zipStreetCityRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = zipStreetCityRequest;

        // create path and map variables
        String localVarPath = "/app/search/zipstreetcity";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "*/*"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call searchZipStreetCityValidateBeforeCall(ZipStreetCityRequest zipStreetCityRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'zipStreetCityRequest' is set
        if (zipStreetCityRequest == null) {
            throw new ApiException("Missing the required parameter 'zipStreetCityRequest' when calling searchZipStreetCity(Async)");
        }
        

        okhttp3.Call localVarCall = searchZipStreetCityCall(zipStreetCityRequest, _callback);
        return localVarCall;

    }

    /**
     * Search request when the zip code, the street and the city are known.
     * 
     * @param zipStreetCityRequest  (required)
     * @return SearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public SearchResult searchZipStreetCity(ZipStreetCityRequest zipStreetCityRequest) throws ApiException {
        ApiResponse<SearchResult> localVarResp = searchZipStreetCityWithHttpInfo(zipStreetCityRequest);
        return localVarResp.getData();
    }

    /**
     * Search request when the zip code, the street and the city are known.
     * 
     * @param zipStreetCityRequest  (required)
     * @return ApiResponse&lt;SearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchResult> searchZipStreetCityWithHttpInfo(ZipStreetCityRequest zipStreetCityRequest) throws ApiException {
        okhttp3.Call localVarCall = searchZipStreetCityValidateBeforeCall(zipStreetCityRequest, null);
        Type localVarReturnType = new TypeToken<SearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Search request when the zip code, the street and the city are known. (asynchronously)
     * 
     * @param zipStreetCityRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The search results. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error in the provided data, please check the response message for details. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> There is no address matching the ZipStreet. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests per minute. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call searchZipStreetCityAsync(ZipStreetCityRequest zipStreetCityRequest, final ApiCallback<SearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = searchZipStreetCityValidateBeforeCall(zipStreetCityRequest, _callback);
        Type localVarReturnType = new TypeToken<SearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
